.App {
  text-align: center;
}

.navBox{
  display: inline-block;
  height: 16vh!important;
  width: 100vw!important;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px 10px #888888;
  position: sticky;
  top: 0;
  background-color: #fff!important;
}

.navSearch{
  cursor: pointer;
  width: 8vw;
  border: 1.6px solid rgb(145, 145, 145);
  border-radius: 6px;
  margin-left: 48vw;
}

.bannerHeading{
  margin-top: 12vh;
  display: inline-block;
  line-height: 160%!important;
  width: 100vw;
  background-image: linear-gradient(180deg, #fff, #0099ff);
  height: 32vh;
}

.typed-out{
  overflow: hidden;
  /* border-right: .15em solid #0099ff; */
  white-space: nowrap;
  animation: 
  typing 2s steps(20, end) forwards;
  font-size: 4vw;
  font-weight: bolder;
  width: 0;
  margin-top: 6vh;
  height: 6vh;
  text-align: center;
}
@keyframes typing {
  from { width: 0; margin-left: 24vw; }
  to { width: 100%; overflow: visible; margin-left: 0; }
}

/* .bannerBox{
  height: 200vh;
} */